# Frontend
VITE_API_URL=https://seu-app.vercel.app/api

# Backend
DATABASE_URL="postgresql://user:password@hostname:port/database"
JWT_SECRET="sua_chave_secreta_jwt"
PORT=3000

# Vercel
VERCEL_URL=
VERCEL_ENV= 